# Ignore everything
*
# Ignore the IDE, these are not duplicate and not having this makes the build context potentially *very* large
**
!/cogs
!/core
!bot.py
!LICENSE
!pdm.lock
!pyproject.toml
!README.md
